{{ ansible_managed|default(_vaultwarden_ansible_managed)|comment }}

[Unit]
Description =  VaultWarden (https://github.com/dani-garcia/vaultwarden)
After = network.target postgresql.service mysql.service
{% if vaultwarden_required_service is defined %} Required = {{ vaultwarden_required_service }} {% endif %}

[Service]
User = vaultwarden
Group = vaultwarden
ExecStart = {{ vaultwarden_directory }}/vaultwarden
# Set reasonable connection and process limits
LimitNOFILE=1048576
LimitNPROC={{ vaultwarden_proc_limit }}
WorkingDirectory = {{ vaultwarden_directory }}
EnvironmentFile={{ vaultwarden_directory }}/.env
ReadWritePaths={{ vaultwarden_directory }} {{ vaultwarden_datadir }}

# Privilege and capability restrictions
NoNewPrivileges=yes
CapabilityBoundingSet=
LockPersonality=yes
MemoryDenyWriteExecute=yes
PrivateTmp=yes
PrivateDevices=yes
DevicePolicy=closed
KeyringMode=private
RemoveIPC=yes

# Filesystem isolation
ProtectSystem=strict
ProtectHome=yes

# Kernel interface restrictions
ProtectClock=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes

# Syscall filtering
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM

[Install]
WantedBy = multi-user.target
